doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    script(src="/javascripts/script.js")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class="w-100 text-white bg-info pl-3")
        .navbar
            a(href="/",class="navbar-brand text-white")
                h2 CU NEWS
    div(class="row justify-content-center align-items-center",id="login-body")
        form(class="form",action="/cpanel/login",method="post",id="login-form")
            div(align="center")
                h3 Login
            .form-group
                label(for="email",class="text-info") Email:
                br
                input(type="text",name="email",id="email",class="form-control",placeholder="Email")
            .form-group
                label(for="password",class="text-info") Password:
                br
                input(type="password",name="password",id="password",class="form-control",placeholder="Password")
            .form-group
                input(type="submit",name="submit",class="btn btn-info form-control", Value="Login")
    footer(class="w-100 h-100 text-light bg-primary",align="center")
        h1(class="text-white p-3") CU NEWS